<h5 class="card-title">Rateio do prêmio das apostas</h5>
<div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>Acertos</th>
                <th>Quantidade de jogos</th>
                <th>Valor do prémio</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
