{# templates/_delete.html.twig #}
<form name="delete" method="post" data-loading="true" enctype="multipart/form-data" action="{{ deleteAction|default("") }}">
    <input type="hidden" id="deleteUuid" name="uuid" value="">
    <div id="deleteModal" class="modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="h5 modal-title">Excluir</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-labe="Fechar"></button>
                </div>
                <div class="modal-body">
                    <p id="deleteMensagem">Deseja realmente excluir?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-labe="Fechar">Fechar</button>
                    <button type="submit" class="btn btn-danger">Excluir</button>
                </div>
            </div>
        </div>
    </div>
</form>