{# template/_formFooter.html.twig #}
<div class="card-footer bg-gradient d-flex justify-content-between">
    <div>
        <a data-loading="true" class="btn btn-outline-secondary bg-gradient btn-sm" href="{{ voltar }}"><i class="bi bi-arrow-left"></i> Voltar</a>
    </div>
    <div>
        <button type="reset" class="btn btn-secondary bg-gradient btn-sm"><i class="fa-solid fa-broom"></i> Limpar</button>
        <button type="submit" class="btn btn-primary bg-gradient btn-sm"><i class="bi bi-floppy"></i> Salvar</button>
    </div>
</div>
