    <li class="nav-item">
        <a class="nav-link{% if app.request.get('_route') starts with 'app_aposta' %} active{% endif %}" href="{{ path('app_aposta_importar') }}"><i class="bi bi-door-open-fill"></i> Importar</a>
    </li>