{# bolao/_form.html.twig #}
{{ form_errors(form) }}
<div class="row">
    <div class="col-12 col-md-6">
        {{ form_row(form.loteria) }}
    </div>
    <div class="col-12 col-md-6">
        {{ form_row(form.concursoNumero) }}
    </div>
    <div class="col-12">
        {{ form_row(form.nome) }}
    </div>
</div>