<div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>Acertos</th>
                <th>Número de ganhadores</th>
                <th>Valor do prémio</th>
            </tr>
        </thead>
        <tbody>
            {% for premio in rateio %}
            <tr>
                <td>{{ premio.descricaoFaixa }}</td>
                <td>{{ premio.numeroDeGanhadores }} ganhador(es)</td>
                <td>{{ premio.valorPremio|format_currency('BRL') }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
