<h5 class="card-title">Raterio do prêmio do concurso</h5>
<div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>Acertos</th>
                <th>Número de ganhadores</th>
                <th>Valor do prémio</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for premio in rateio %}
            <tr>
                <td class="text-end">{{ premio.descricaoFaixa }}</td>
                <td class="text-end">{{ premio.numeroDeGanhadores|number_format(0, ',', '.') }} ganhador(es)</td>
                <td class="text-end">{{ premio.valorPremio|format_currency('BRL') }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
